.btn{
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: 500;
	color: $dark;
	text-align: center;
	text-decoration: none;
	white-space: null;
	vertical-align: middle;
  	user-select: none;
	background-color: transparent;
	border: $border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
	transition: .5s;
	transform:      color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

	&:focus,
	&.focus {
	  outline: 0;
	  box-shadow: $btn-focus-box-shadow;
	}
}

@each $btn-name, $btn-color in $theme-colors {
	.btn-#{$btn-name}{
		@if $btn-color == $warning {
			background: $btn-color;
			color: $dark;
			border: $border-width solid lighten($btn-color ,10%);
			&:hover{
				background: darken($btn-color, 5%);
				transition: .5s;
			}
		}
		@else{
			background: $btn-color;
			color: $white;
			border: $border-width solid lighten($btn-color ,10%);
			&:hover{
				background: darken($btn-color, 5%);
				transition: .5s;
			}
		}
	}
}

@each $btn-name, $btn-color in $theme-colors {
	.btn-#{$btn-name}-o{
		@if $btn-color == $warning {
			background: transparent;
			color: $dark;
			border: $border-width solid $btn-color;
			&:hover{
				background: darken($btn-color, 5%);
				transition: .5s;
				color: $dark;
			}
		}
		@else{
			background: transparent;
			color: $btn-color;
			border: $border-width solid $btn-color;
			&:hover{
				background: darken($btn-color, 5%);
				transition: .5s;
				color: $white;
			}
		}
	}
}


.btn-lg {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
  }

  .btn-sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  }



