.row{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	// * Quita los paddings 
	&.no-gutter [class*=col]{
		padding: 0;
	}
}

//* Gutter / No Gutter
[class*=col]{
	padding: calc( $gutter / 2);
	// Si prefieres algo mas especifico que pueda funcionar en una sola columna (esta clase se aplicaría directamente a la columna y no a la fila)
	&.no-gutter{
		padding: 0;
	}
}



@include colsGenerator($breakpoints, $numberCols, 'col');

 // Single container class with breakpoint max-widths
 .container,
 // 100% wide container at all breakpoints
 .container-fluid {
   @include make-container();
 }
