$yellow: 		#F1D00A;
$blue: 			#1089FF;
$red: 			#DA1212;
$green: 		#2EB086;
$teal:  		#24A19C;
$peach: 		#FF7272;
$pick: 			#FA4EAB;
$purple: 		#8A39E1;
$orange: 		#F98404;
$brown-light: 	#B3541E;
$beige:  		#CA965C;
$brown:  		#362222;
$maroon: 		#461111;
$navy: 			#1A1A40;

$dark: 			#181818;
$black: 		#000000;
$white:  		#ffffff;
$gray: 		    #f0f0f0;
$gray-light: 	#F7F7F7;


