// * Aquí los custom properties

$color-primary: $dark;
$color-secondary: $gray;

// * Tipografias
$font-primary: $font;
$font-secondary: $font;

// * Las Adaptamos al Modo Oscuro
@media (prefers-color-scheme: dark){
	:root{
		--color-primary: #{$gray};
		--color-secondary: #{$dark};
	}
}
// * Opcional
// * Configuramos si un Usuario ha activado el modo alto constraste (WD)
@media (prefers-contrast: high){
	:root{
		--color-primary: #{$black};
		--color-secondary: #{$white};
	}
}
// ! Modo Prueba no soportado por todos los navegadores y es aconsejable aplicárselo a selector específico ya que * se lo añade a  todos y esto puede afectar el rendimiento de la página.
// * Opcional
// * Desactivamos los animations en el caso de que un usuario haya configurado el modo sin anumaciones

@media (prefers-reduced-motion:  reduce){
	*{
		animation: none;
		transition: none;
	}
}

// * Reseteamos los margin paddings de todas las etiquetas
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

// * Eviatamos porbelmas con las imgenes
img, picture, video, iframe, figure{
	max-width: 100%;
	width: 100%;
	display: block;
	// ? Opcional
	object-fit: cover;
	object-position: center center;
}

// * Reseteamos los enlaces para funcionar como cajas
a{
	display: block;
}
p a {
	display: inline;
}

// *Quitamos los puton de las lista <li> </li>
li{
	list-style: none;
}
// * configuramos los anclas suaves
html {
	scroll-behavior: smooth;
}
// * Desactiva estilos por defecto de las principales etiquetas de texto
h1, h2, h3, h4, h5, h6, p, a, span, strong, blockquote, i, b, u, em{
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}
// * Evitar problemas con los pseudoelemento de quotes
blockquote:before, blockquote:after, q:before, q:after{
	content: '';
	content: none;
}

// * Configurar el texto que selecionamos
::selection{
	background: $color-primary;
	color: $color-secondary;
}

// * Nivelemos problemas de tipografía y colocación de formularios
form, input, textarea, select, button, label{
	font-family: inherit;
	font-size: inherit;
	hyphens: auto;
	background-color: transparent;
	display: block;
	color: inherit;
	// * Opcional
	appearance: none;
}

// * Resetemos las tablas
table, tr, td{
	border-collapse: collapse;
	border-spacing: 0;
}

// * Evitamos los problemas con los SVG
svg{
	width: 100%;
	display: block;
	fill: currentColor;
}

// * Configuramos la tipografía para toda la web
body{
	min-height: 100vh;
	font-size: 100%;
	font-family: $font-primary;
	color: $color-primary;
	background-color: $color-secondary;
	// * Opcional
	line-height: 1.4em;
	hyphens: auto;
	font-smooth: always;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.box{
	background: #FFE162;
	border-radius: 6px;
	padding: 20px;
	color: #000;
	text-align: center;
	font-size:18px;
	font-weight: bold;
	@include respond-down("md"){
		background: #000;
	}
}




