@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
$font: 'Mulish', sans-serif;


// * System Grid
$numberCols :					12;
$gutter: 						1rem;
$grid-gutter-width:           	30px !default;
$enable-grid-classes:           true !default;

// * Breakpoints
$breakpoints: (
	'xs': 0,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
	'xxl': 1440px,
) !default;



$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
  xxxl: 1600px
) !default;




// * Acncho de modales
$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;
